$roboto: "Roboto", "Arial", sans-serif;

$black: #000000;

$white: #ffffff;


$transition: all 0.3s ease-in;

$border: 1px solid #D9EAFA;

$mobile-width: 550px;

$tablet-width: 768px;
$desktop-width: 1250px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
