doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(name="description" content="Lorem ipsum dolor sit amet, consectetuer adipiscing elit.")
        title power-test
        link(rel="stylesheet" href="css/style.min.css")
    body
        <div style="display:none">
            <include src="build/img/icons/sprite.svg"></include>
        </div>
        main.main
            h1.visually-hidden power-test
            .container
                a(href="#" data-block="popup1").js-no-link.js-popup-btn Remove brand
        .popup.hidden.js-popup(data-block="popup1")
            .popup__block
                .popup__head
                    .popup__caption Remove brand
                    button.popup__close.js-popup-close(type="button")
                        svg(width="12" height="12")
                            use(xlink:href="#icon-close")
                .popup__main
                    .popup__img
                        svg(width="24" height="24")
                            use(xlink:href="#icon-sign")
                    .popup__column
                        .popup__speach Are sure you wish to remove FAME_4?
                        p.popup__text The remaining stocks are worth: $768.231
                .popup__footer
                    button.popup__footer-btn.js-popup-close(type="button") No
                    button.popup__footer-btn.js-popup-close(type="button") Yes
        script(src='js/script.min.js')
